.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #d7935c;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #a6a6a6;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #d7935c;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn-seccandary{
    -fx-background-color: #d8d8d8;
    -fx-background-radius: 10;
}


.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #a1ede2;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #d6dbdc;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.black-background {
    -fx-background-color: #3a3a3a;
    -fx-background-radius: 20;
}